<div class="container mt-4">

  <div class="row">

    <div class="rounded border border-success col-md-3 d-flex align-items-center" style="height:700px">


      <div *ngIf="widgetsState[0]==='weatherWidget';else clockWidget1" class="w-100 text-center"
        style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/hava-durumu-2.png");'>
        <div style="height:50%;font-size: 20px;line-height:55px" class="mt-5">

          <b
            style="font-size: 25px">{{weatherWidget.title}}</b><br>{{weatherWidget.city}}<br>{{weatherWidget.degree}}<br>{{weatherWidget.content}}<br>{{weatherWidget.felt}}<br>Son
          güncelleme:{{weatherWidget.lastUpdate}} </div>
      </div>
      <ng-template #clockWidget1>

        <div *ngIf='widgetsState[0]==="clockWidget";else default1' (click)='setWidgetState("clockWidget")'
          style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/saat.jpg");'
          class="w-100">
          <div class="mt-4 text-center" style="width: 100%;height:70%;line-height: 50px;font-size: 20px">

            <b
              style="font-size:25px">{{clockWidget.title}}</b><br>{{clockWidget.city}}<br>{{clockWidget.day}}<br>{{clockWidget.month}}<br>{{clockWidget.time}}
          </div>
        </div>
      </ng-template>

      <ng-template #default1>

        <a type="button" routerLink="/widget/1" class="btn btn-outline-primary mx-auto">Widget ekle</a>
      </ng-template>
    </div>




    <div class="rounded border border-success col-md-3 d-flex align-items-center" style="height:700px">


      <div *ngIf="widgetsState[1]==='weatherWidget';else clockWidget2" class="w-100 text-center"
        style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/hava-durumu-2.png");'>
        <div style="height:50%;font-size: 20px;line-height:55px" class="mt-5">

          <b
            style="font-size: 25px">{{weatherWidget.title}}</b><br>{{weatherWidget.city}}<br>{{weatherWidget.degree}}<br>{{weatherWidget.content}}<br>{{weatherWidget.felt}}<br>Son
          güncelleme:{{weatherWidget.lastUpdate}} </div>
      </div>
      <ng-template #clockWidget2>

        <div *ngIf="widgetsState[1]==='clockWidget';else default2" (click)='setWidgetState("clockWidget")' class="w-100"
          style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/saat.jpg");'
          class="w-100">
          <div class="mt-4 text-center" style="width: 100%;height:70%;line-height: 50px;font-size: 20px">

            <b
              style="font-size:25px">{{clockWidget.title}}</b><br>{{clockWidget.city}}<br>{{clockWidget.day}}<br>{{clockWidget.month}}<br>{{clockWidget.time}}
          </div>
        </div>
      </ng-template>

      <ng-template #default2>

        <a type="button" routerLink="/widget/2" class="btn btn-outline-primary mx-auto">Widget ekle</a>
      </ng-template>
    </div>



    <div class="rounded border border-success col-md-3 d-flex align-items-center" style="height:700px">


      <div *ngIf="widgetsState[2]==='weatherWidget';else clockWidget3" class="w-100 text-center"
        style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/hava-durumu-2.png");'>
        <div style="height:50%;font-size: 20px;line-height:55px" class="mt-5">

          <b
            style="font-size: 25px">{{weatherWidget.title}}</b><br>{{weatherWidget.city}}<br>{{weatherWidget.degree}}<br>{{weatherWidget.content}}<br>{{weatherWidget.felt}}<br>Son
          güncelleme:{{weatherWidget.lastUpdate}} </div>
      </div>
      <ng-template #clockWidget3>

        <div *ngIf='widgetsState[2]==="clockWidget";else default3' (click)='setWidgetState("clockWidget")' class="w-100"
          style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/saat.jpg");'
          class="w-100">
          <div class="mt-4 text-center" style="width: 100%;height:70%;line-height: 50px;font-size: 20px">

            <b
              style="font-size:25px">{{clockWidget.title}}</b><br>{{clockWidget.city}}<br>{{clockWidget.day}}<br>{{clockWidget.month}}<br>{{clockWidget.time}}
          </div>
        </div>
      </ng-template>

      <ng-template #default3>

        <a type="button" routerLink="/widget/3" class="btn btn-outline-primary mx-auto">Widget ekle</a>
      </ng-template>
    </div>



    <div class="rounded border border-success col-md-3 d-flex align-items-center" style="height:700px">


      <div *ngIf="widgetsState[3]==='weatherWidget';else clockWidget4" class="w-100 text-center"
        style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/hava-durumu-2.png");'>
        <div style="height:50%;font-size: 20px;line-height:55px" class="mt-5">

          <b
            style="font-size: 25px">{{weatherWidget.title}}</b><br>{{weatherWidget.city}}<br>{{weatherWidget.degree}}<br>{{weatherWidget.content}}<br>{{weatherWidget.felt}}<br>Son
          güncelleme:{{weatherWidget.lastUpdate}} </div>
      </div>
      <ng-template #clockWidget4>

        <div *ngIf='widgetsState[3]==="clockWidget";else default4' (click)='setWidgetState("clockWidget")' class="w-100"
          style='background-size: cover;background-position: center;height:100%;background-image:url("../assets/saat.jpg");'
          class="w-100">
          <div class="mt-4 text-center" style="width: 100%;height:70%;line-height: 50px;font-size: 20px">

            <b
              style="font-size:25px">{{clockWidget.title}}</b><br>{{clockWidget.city}}<br>{{clockWidget.day}}<br>{{clockWidget.month}}<br>{{clockWidget.time}}
          </div>
        </div>
      </ng-template>

      <ng-template #default4>

        <a type="button" routerLink="/widget/4" class="btn btn-outline-primary mx-auto">Widget ekle</a>
      </ng-template>
    </div>

    <div class="mt-2 col-12 d-flex align-items-center"><button type="button" class="btn btn-outline-danger mx-auto "
        (click)="clearAllWidgets()">Widgetları temizle</button></div>
  </div>
</div>